[Unit]
Description=RetroLookingStatisticsDisplay
After=network.target

[Service]
ExecStart=/usr/bin/rlsd -s
ExecStop=/usr/bin/pkill rlsd

[Install]
WantedBy=default.target