[Unit]
Description=Run RLSD daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/rlsd -c
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target